<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" class="content" [formGroup]="searchArticleForm">
    <div fxFlex="80%">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Search article</mat-label>
            <input matInput formControlName="searchKey">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div fxFlex="20%">
        <mat-form-field appearance="fill" fxFlex> 
            <mat-label>Publish date</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="date" [min]="minDateSelection" [max]="maxDateSelection">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp>
            </mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="20%" fxFlex.xs="33%">
        <button mat-raised-button fxFlex (click)="articleSelection()"><b>Search</b></button>
    </div>
</div>

