<div class="content">
    <div *ngIf="!!pageLoading">
        <div fxLayout="row" class="image-align">
          <mat-spinner></mat-spinner>
        </div>
        <div fxLayout="row" class="image-align">
          <div fxLayout="row">
            <label fxFlex><b>Loading . . . </b></label>
          </div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="5% grid" *ngIf="!pageLoading">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let newsData of articleSet">
          <mat-card class="card mat-elevation-z4">
              <mat-card-header>
                <mat-card-title>{{newsData.article.title}}</mat-card-title>
                <mat-card-subtitle>{{newsData.article.author}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src={{newsData.article.urlToImage?newsData.article.urlToImage:infoLogo}} alt="Photo of the Article" width="50%" height="50%">
              <mat-card-content>
                <p>{{newsData.article.description}}</p>
              </mat-card-content>
              <h3>{{newsData.article.publishedAt}}</h3>
            </mat-card>
      </div>
    </div>
    <div *ngIf="articleSet.length === 0 && !pageLoading">
      <h2>No Information Available</h2>
    </div>
</div>

